<h2>My Insurance Policies</h2>

<p-table [value]="insuranceList" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Insured</th>
      <th scope="col">Cover (₹)</th>
      <th scope="col">Status</th>
      <th scope="col">Premium (₹)</th>
      <th scope="col">Next Due Date</th>
      <th scope="col">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-insurance>
    <tr>
      <td><p-tag [value]="insurance.policy_type" [severity]="getTypeSeverity(insurance.policy_type)"></p-tag></td>
      <td>{{ insurance.insured_name }}</td>
      <td>{{ insurance.sum_assured | currency:'INR' }}</td>
      <td><p-tag [value]="insurance.policy_status" [severity]="getStatusSeverity(insurance.policy_status)"></p-tag></td>
      <td>{{ insurance.premium_amount | currency:'INR' }}</td>
      <td>{{ insurance.next_premium_due_date | date:'dd/MM/yyyy' }}</td>
      <td>
        <button pButton class="p-button-text" (click)="editPolicy(insurance)"><i class="pi pi-pencil"></i></button>
        <button pButton class="p-button-text p-button-danger" (click)="deletePolicy(insurance)"><i class="pi pi-trash"></i></button>
      </td>
    </tr>
  </ng-template>
</p-table>